footer
  background-color: #323031
  color: #FFFFFF
  padding: em(60px) 0
  +breakpoint($phone-only)
    +padding
  .row
    +container(em(1200px))
  .col
    width: em(330px)
    float: left
  .branding
    margin-top: em(40px)