section
  position: relative
  background-repeat: no-repeat

.container
  max-width: em(1230px)
  margin-left: auto
  margin-right: auto
  position: relative
  +padding

.vertical-wrap
  display: table

.vertical-align
  display: table-cell
  vertical-align: middle

.bottom-align
  display: table-cell
  vertical-align: bottom

main
  position: relative
  padding-top: 54px
  height: 100%