.crisis
  z-index: 3
  background-image: url('/_System/assets/img/crisis.png')
  background-position: center bottom
  background-size: em(1260px)
  background-color: #FFFFFF
  p
    max-width: em(580px)
  > div
    padding-top: em(30px)