section.intro
  z-index: 1
  background-image: url('/_System/assets/img/start-bg.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: bottom center

  +breakpoint($phone-only)
    padding-top: $base-padding*5
    padding-bottom: $base-padding*5

  .left
    +breakpoint($medium-screen)
      +span(8)
      padding-right: em(30px)

    +breakpoint($large-screen)
      +span(6)

  .right
    display: none

    +breakpoint($medium-screen)
      display: block
      +span(last 4)

    +breakpoint($large-screen)
      +span(last 6)

    +breakpoint($low-screen)
      img
        height: 70%

  img.nav-logo
    margin-bottom: em(12px)