section.media
  z-index: 2
  background-color: $light-gray
  .container
    +breakpoint($medium-screen)
      .left
        +span(6)
        img
          padding-top: em(55px)
      .right
        +span(last 6)