section.media
  z-index: 4
  background-color: #FFFFFF

  .container
    +breakpoint($phone-only)
      padding-top: $base-padding*2
      padding-bottom: em(380px)

    .left
      +span(12)
      position: absolute
      bottom: 0
      left: 0
      opacity: $base-opacity
      
      +breakpoint($phone-only)
        overflow: hidden
        height: 370px

        .bottom-align
          bottom: auto

      img
        display: block

        +breakpoint($phone-only)
          max-width: 85%
          margin-left: 25px

        +breakpoint($medium-screen)
          max-height: 340px

        +breakpoint($large-screen)
          max-height: 100%

      +breakpoint($large-screen)
        +span(6)
        position: relative

        +breakpoint($low-screen)
          +span(9 of 24)

        img
          padding-top: em(55px)
          @media screen and (min-width:0\0) and (min-resolution: +72dpi)
            // IE9+ CSS
            width: 85%

    .right
      +span(12)

      p
        max-width: $max-paragraph-width

      +breakpoint($large-screen)
        +span(6 last)

        p
          max-width: none