section.pr
  z-index: 7
  background-color: $light-gray

  .container
    +breakpoint($phone-only)
      padding-top: $base-padding*2
      padding-bottom: em(360px)

  .left
    +span(12)

    +breakpoint($phone-only)
      position: absolute
      bottom: em(35px)
      left: 0
      z-index: 1
    
      img
        display: block
        max-width: 75%
        margin: auto

    +breakpoint($medium-screen)
      display: block
      +span(4)

    +breakpoint($large-screen)
      +span(6)

    +breakpoint($low-screen)
      img
        max-height: 70%
        width: auto

  .right
    +breakpoint($phone-only)
      position: relative
      z-index: 2

    +breakpoint($medium-screen)
      +span(last 8)

    +breakpoint($large-screen)
      +span(last 6)