section.pr
  z-index: 6
  background-color: $light-gray

  .left
    display: none

    +breakpoint($medium-screen)
      display: block
      +span(4)

    +breakpoint($large-screen)
      +span(6)

  .right
    +breakpoint($medium-screen)
      +span(last 8)

    +breakpoint($large-screen)
      +span(last 6)