.strategy
  z-index: 6
  background-color: #FFFFFF

  // > div
  //   padding-top: em(30px)

  .container
    +breakpoint($phone-only)
      padding-top: $base-padding*2
      padding-bottom: em(320px)
      overflow: hidden

    .left
      position: relative
      z-index: 2

      +breakpoint($phone-only)
        +span(12)

      +breakpoint($medium-screen)
        +span(8)

      +breakpoint($large-screen)
        +span(6)

    .right
      z-index: 1

      +breakpoint($phone-only)
        +span(12)
        position: absolute
        bottom: em(-12px)
        left: 0

        img
          display: block
          max-width: 80%
          margin: auto

      +breakpoint($medium-screen)
        +span(last 6)
        position: absolute
        right: $base-padding

      +breakpoint($large-screen)
        position: initial